.u-section-1 {
  background-image: linear-gradient(45deg, #425465, #292e33);
}

.u-section-1 .u-sheet-1 {
  min-height: 812px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  width: 740px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 740px;
  font-size: 1.25rem;
  margin: 32px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 99px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 477px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 23px 30px 30px;
}

.u-section-1 .u-group-1 {
  min-height: 133px;
  margin-top: -51px;
  margin-bottom: 0;
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
  height: auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  width: 96px;
  font-size: 1.25rem;
  margin: 24px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 8px 12px 0;
}

.u-section-1 .u-text-5 {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 22px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 4px 4px 0px 0 rgba(0,0,0,0.1);
  margin: 77px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 477px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 23px 30px 30px;
}

.u-section-1 .u-group-2 {
  min-height: 133px;
  margin-top: -51px;
  margin-bottom: 0;
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
  height: auto;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  width: 96px;
  font-size: 1.25rem;
  margin: 24px auto 0;
}

.u-section-1 .u-text-7 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 8px 12px 0;
}

.u-section-1 .u-text-8 {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 42px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 4px 4px 0px 0 rgba(0,0,0,0.1);
  margin: 97px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 477px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 23px 30px 30px;
}

.u-section-1 .u-group-3 {
  min-height: 133px;
  margin-top: -51px;
  margin-bottom: 0;
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
  height: auto;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  font-size: 1.25rem;
  width: 116px;
  margin: 24px auto 0;
}

.u-section-1 .u-text-10 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 8px 12px 0;
}

.u-section-1 .u-text-11 {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 22px 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 4px 4px 0px 0 rgba(0,0,0,0.1);
  margin: 77px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 477px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 23px 30px 30px;
}

.u-section-1 .u-group-4 {
  min-height: 133px;
  margin-top: -51px;
  margin-bottom: 0;
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
  height: auto;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  font-size: 1.25rem;
  width: 128px;
  margin: 25px auto 0;
}

.u-section-1 .u-text-13 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 7px 12px 0;
}

.u-section-1 .u-text-14 {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 22px 0 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 4px 4px 0px 0 rgba(0,0,0,0.1);
  margin: 77px auto 0;
  padding: 12px 42px 13px 41px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 393px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 393px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 393px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 393px;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1340px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 30px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1440px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-7 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.5rem;
  }
}